---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Recent Projects</h1>

{% set projectslist = collections.projects | reverse %}
{% set projectslistCounter = collections.projects | length %}
{% include "projectslist.njk" %}
